// .manage_landing_page__header {
//     background-image: url('./images/bg-tablet-pattern.svg');
//     background-repeat: no-repeat;
// }

.manage_landing_page__header {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 48px;
}

.manage_landing_page__header__navigation__lists {
    text-align: center;
}

.manage_landing_page__header__navigation__lists  
.manage_landing_page__header__navigation__list__pages {
    color: hsl(233, 12%, 13%);
    font-weight: 700;
}

.manage_landing_page__header__navigation__list {
    padding-block-end: 24px;
}

.manage_landing_page__header__articles__heading {
    font-size: 44px;
    max-width: 324px;
}

.manage_landing_page__header__articles__link,
.manage_landing_page__header__navigation__list__link {
    background-color:  hsl(12, 88%, 59%);
    color: rgb(255, 255, 255);
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    border-radius: 30px;
}

.manage_landing_page__header__navigation__list__link:hover {
    box-shadow:  0 2px 5px  hsl(12, 88%, 59%);
    transition: .3s;
}

.manage_landing_page__header__articles__link:hover {
    box-shadow:  0 2px 5px  hsl(12, 88%, 59%);
    transition: .3s;
}

.manage_landing_page__header__articles__text {
    margin-block-start: -16px;
    padding-block-end: 48px;
}

.manage_landing_page__header__image {
    padding-block-start: 32px;
}

.manage_landing_page__header__navigation__list__pages:hover {
    color: hsl(227, 12%, 61%);
    transition: .3s;
}

// Menu heading

.manage_landing_page__header {
    position: relative;
}

.manage_landing__page__homepage {
    position: absolute;
    right: 20px;
}

.menu_dropdown,
.manage_landing_page__header__navigation__list__link,
.manage_landing_page__header__section__heading {
    display: none;
}

.manage_landing_page__header__navigation {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 13%;
    bottom: 0;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 16px rgba(204, 181, 181, 0.5);
    transform: translateX(-140%);
    // transition: transform 0.3s;
}

[type="checkbox"]:checked ~ header .manage_landing_page__header__navigation {
    transform: translateX(0);
    background-color: white;
    border-radius: 5px;
  }

// [type="checkbox"]:checked ~ .manage_landing_page__header .manage_landing__page__homepage {
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//   }
  
body > [type="checkbox"]:checked ~ main {
    z-index: 1; 
}

@media(min-width: 600px) {
    .manage_landing_page__header{
        margin: auto;
        max-width: 1100px;
    }
    .manage_landing__page__homepage {
        display: none;
    }

    .manage_landing_page__header__navigation {
        padding: 1rem;
        position: inherit;
        z-index: unset;
        left: initial;
        top: unset;
        bottom: unset;
        width: auto;
        height: auto;
        box-shadow: none;
        transform: none;
        transition: none;
    }

    .manage_landing_page__header__navigation__lists {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        padding-inline-start: 200px;
        margin-block-start: -55px;
    }

    .manage_landing_page__header__navigation__list__link {
        display: block;
        margin-inline-end: -43px;
    }

    .manage_landing_page__header__section {
        display: flex;
        flex-direction: row-reverse;
        // margin: auto;
        // max-width: 1000px;
    }

    // .manage_landing_page__header__articles__text {
    //     max-width: 300px;
    // }   

    .manage_landing_page__header__image {
        padding-inline-start: 144px;
    }

    .manage_landing_page__header__navigation__list:nth-of-type(5) {
        padding-inline-end: 70px;
    }
}
