.manage_landing_page__main_content__testimonials {
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-block-end: 20px;
    text-align: center;
}

.manage_landing_page__main_content__testimonials__heading {
    font-size: 28px;
    padding-block-end: 100px;
}

.manage_landing_page__main_content__testimonials__ariticle {
    line-height: 1.7;
    padding-inline-start: 32px;
    padding-inline-end: 19px;
    padding-block-end: 32px;
    background-color: hsl(0, 0%, 98%);
    margin-block-end: 80px;
}

.manage_landing_page__main_content__testimonials__ariticle__figure {
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.manage_landing_page__main_content__testimonials__ariticle__photo {
    max-width: 30%;
    margin-block-start: -40px;
}

.manage_landing_page__main_content__testimonials__ariticle_name {
    color: #1d1e25;
    font-size: 18px;
    font-weight: 700;
}

.manage_landing_page__main_content__testimonials__link {
    background-color:  hsl(12, 88%, 59%);
    color: white;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    border-radius: 30px;
}

.manage_landing_page__main_content__testimonials__link:hover {
    box-shadow:  0 2px 5px  hsl(12, 88%, 59%);
    transition: .3s;
}

@media(min-width: 600px) {
    .manage_landing_page__main_content__testimonials {
        background-image: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-size: 88%;
        padding-inline-end: 0;
        padding-inline-start: 0;
        padding-block-end: 100px;
    }

    .manage_landing_page__main_content__testimonials__article_wrapper {
        display: flex;
        flex-direction: row;
    }

    .manage_landing_page__main_content__testimonials__ariticle:nth-of-type(1),
    .manage_landing_page__main_content__testimonials__ariticle:nth-of-type(2), 
    .manage_landing_page__main_content__testimonials__ariticle:nth-of-type(3) {
        margin-inline-end: 32px;
    }
}