body {
  margin: 0; }

html {
  font-family: 'Be Vietnam', sans-serif;
  color: #9095a7; }

h1, h2, h3 {
  color: #1d1e25; }

ul {
  padding-inline-start: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

.manage_landing_page__header {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 48px; }

.manage_landing_page__header__navigation__lists {
  text-align: center; }

.manage_landing_page__header__navigation__lists
.manage_landing_page__header__navigation__list__pages {
  color: #1d1e25;
  font-weight: 700; }

.manage_landing_page__header__navigation__list {
  padding-block-end: 24px; }

.manage_landing_page__header__articles__heading {
  font-size: 44px;
  max-width: 324px; }

.manage_landing_page__header__articles__link,
.manage_landing_page__header__navigation__list__link {
  background-color: #f51414;
  color: white;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-inline-end: 25px;
  padding-inline-start: 25px;
  border-radius: 30px; }

.manage_landing_page__header__articles__text {
  margin-block-start: -16px;
  padding-block-end: 48px; }

.manage_landing_page__header__image {
  padding-block-start: 32px; }

.manage_landing_page__header {
  position: relative; }

.manage_landing__page__homepage {
  position: absolute;
  right: 20px; }

.menu_dropdown,
.manage_landing_page__header__navigation__list__link,
.manage_landing_page__header__section__heading {
  display: none; }

.manage_landing_page__header__navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 13%;
  bottom: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 16px rgba(204, 181, 181, 0.5);
  transform: translateX(-140%); }

[type="checkbox"]:checked ~ header .manage_landing_page__header__navigation {
  transform: translateX(0);
  background-color: white;
  border-radius: 5px; }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

@media (min-width: 600px) {
  .manage_landing_page__header {
    margin: auto;
    max-width: 1100px; }
  .manage_landing__page__homepage {
    display: none; }
  .manage_landing_page__header__navigation {
    padding: 1rem;
    position: inherit;
    z-index: unset;
    left: initial;
    top: unset;
    bottom: unset;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  .manage_landing_page__header__navigation__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding-inline-start: 200px;
    margin-block-start: -55px; }
  .manage_landing_page__header__navigation__list__link {
    display: block; }
  .manage_landing_page__header__section {
    display: flex;
    flex-direction: row-reverse; }
  .manage_landing_page__header__image {
    padding-inline-start: 250px; } }

.manage_landing_page__main_content__simplify {
  background-color: #f51414;
  text-align: center;
  padding-block-end: 50px; }

.manage_landing_page__main_content__simplify__header,
.manage_landing_page__main_content__simplify__link {
  padding-inline-start: 20px;
  padding-inline-end: 20px; }

.manage_landing_page__main_content__simplify__header {
  font-size: 44px;
  color: white;
  padding-block-end: 50px;
  padding-block-start: 50px; }

.manage_landing_page__main_content__simplify__link {
  background-color: white;
  color: #f51414;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-inline-end: 25px;
  padding-inline-start: 25px;
  border-radius: 30px; }

.manage_landing_page__main_content__differences {
  font-size: 14px;
  line-height: 1.7; }

.manage_landing_page__main_content__differences__header {
  padding-inline-end: 20px;
  padding-inline-start: 20px; }

.manage_landing_page__main_content__differences__header_title {
  font-size: 28px; }

.manage_landing_page__main_content__differences__article__wrapper {
  padding-inline-start: 20px;
  padding-block-end: 40px; }

.manage_landing_page__main_content__differences__article {
  padding-block-end: 32px; }

.manage_landing_page__main_content__differences__article__title {
  background-color: #ffefeb;
  padding-block-end: 5px;
  padding-block-start: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 20px; }

.manage_landing_page__main_content__differences__article__button {
  background-color: #f51414;
  color: white;
  padding-block-end: 5px;
  padding-block-start: 5px;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
  border-radius: 20px; }
